<ion-header>
  <ion-toolbar>
    <!-- Icon for the sidemenu -->
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Personal	Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <!-- CV information -->
  <p>
    Motivation to join your company:
    I am most motivated when doing somthing that has an impact on society.
    I believe your company's action is benefiting society and the economy greatly.
    I would like nothing more than to contribute to that success
    Please consider my skills and full CV below.
  </p>

  <ion-item>
    <!-- Technical skills list -->
    <ion-label>Technical Skills</ion-label>
    <ion-list>

      <ion-item>
        <ion-label>Ionic, Cordova</ion-label>
        <ion-checkbox checked="true"></ion-checkbox>
      </ion-item>

      <ion-item>
        <ion-label>UX-UI mobile design</ion-label>
        <ion-checkbox checked="true"></ion-checkbox>
      </ion-item>

      <ion-item>
        <ion-label>Prototyping</ion-label>
        <ion-checkbox checked="true"></ion-checkbox>
      </ion-item>

      <ion-item>
        <ion-label>HTML, CSS, Javascript</ion-label>
        <ion-checkbox checked="true"></ion-checkbox>
      </ion-item>

      <ion-item>
        <ion-label>Node.js</ion-label>
        <ion-checkbox checked="true"></ion-checkbox>
      </ion-item>

      <ion-item>
        <ion-label>Databases: MySQL, MongoDB</ion-label>
        <ion-checkbox checked="true"></ion-checkbox>
      </ion-item>

      <ion-item>
        <ion-label>Description languages: JSON, XML</ion-label>
        <ion-checkbox checked="true"></ion-checkbox>
      </ion-item>

      <ion-item>
        <ion-label>Team-work experience on Git</ion-label>
        <ion-checkbox checked="true"></ion-checkbox>
      </ion-item>

    </ion-list>

  </ion-item>
  
  <ion-item>
    <!-- Soft skills list -->
    <ion-label>Soft Skills</ion-label>
    <ion-list>

      <ion-item>
        <ion-label>Teamwork Skill</ion-label>
        <ion-checkbox checked="true"></ion-checkbox>
      </ion-item>

      <ion-item>
        <ion-label>Communication Skill</ion-label>
        <ion-checkbox checked="true"></ion-checkbox>
      </ion-item>

      <ion-item>
        <ion-label>Problem Solving</ion-label>
        <ion-checkbox checked="true"></ion-checkbox>
      </ion-item>

      <ion-item>
        <ion-label>Agile work method</ion-label>
        <ion-checkbox checked="true"></ion-checkbox>
      </ion-item>

    </ion-list>
  </ion-item>

  <img src="../../assets/img/cv_pic.png">
  
</ion-content>
<!-- Hao Nguyen - 1601800 -->
