<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
    <ion-title>About</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <p>
  I am an adventurous Junior Developer who’s looking for the next challenge. 
  What I lack in experience, I make up for with my desire to learn and improve.
  My favourite hobby is to travel and taste a variety of culinary dishes
  </p>
    <img src="../../assets/img/1.jpg">
    <img src="../../assets/img/2.jpg">
    <img src="../../assets/img/3.jpg">
</ion-content>
<!-- Hao Nguyen - 1601800 -->
