<ion-header>
  <ion-toolbar>
    <!-- Icon for the side menu -->
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Project Work</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <!-- Project buttons -->
  <ion-button (click)="presentAlert()">Project 1</ion-button>
  <ion-button color="secondary" (click)="presentAlert2()">Project 2</ion-button>
  <ion-button color="light" (click)="presentAlert3()">Project 3</ion-button>
</ion-content>
<!-- Hao Nguyen - 1601800 -->
