ion-content {
    --background: url('../../assets/img/bg1.jpg') no-repeat center / cover;
}
.logotext {
      
    color:whitesmoke;
    font-size: 30px;
    font-family: BlackHanSans;
    text-shadow: 4px 4px #141414;
}
ion-button {
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 20px;
    margin-top: auto;
}