<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
    <ion-title>
      Contact
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Contact information -->
    <ion-item>
        <ion-label>Fullname</ion-label>
        <ion-input value="Nguyen, Thanh Hao"></ion-input>
      </ion-item>
      
      <ion-item>
        <ion-label floating>Email</ion-label>
        <ion-input value="nthanhhao96@gmail.com" type="email"></ion-input>
      </ion-item>

      <ion-item>
          <ion-label stacked>Phone</ion-label>
          <ion-input value="+358 469433990" type="tel"></ion-input>
        </ion-item>

      <ion-item>
          <ion-label floating>Linkedin</ion-label>
          <ion-input value="https://www.linkedin.com/in/thanh-hao-nguyen/" type="email"></ion-input>
        </ion-item>

</ion-content>
<!-- Hao Nguyen - 1601800 -->
